*
{
    margin:0px;
    padding:2px;
}
body
{
  background:url(to.webp) no-repeat center center
  fixed;
  background-size:cover;

}
.container
{
 
 color:whitesmoke;
 position :absolute;
 top:25%;
 left:40%;

}
.container h1{
    font-size:35px;
    border-bottom:5px solid purple;
    margin-bottom:20px;
    padding:17px 12px;

}
.box{
    width:200px;
    border-bottom: 3px solid purple;
}
.box input{
    background:none;
    margin:5px 5px;
    padding:5px 10px;
    font-size:12px;
   
    outline:none;
    color:white;
}

.btn{
    color:white;
    cursor:pointer;
    outline:none;
    margin:15px 45px;
    padding:1px;
    border:2px solid purple;
    border-radius:10px;
    font-size:18px;
    background:none;
}